@using ItMe.Utils
@model ItMe.ViewComponents.EditorViewComponentModel

<div class="side-by-side">
    <labeled-control>
        <lc-label>@Model.Label</lc-label>
        <lc-control>
            <textarea oninput="updatePreview('@Model.Id-preview', this.value)" required="@Model.IsRequired" name="@Model.Name" 
                      style="height: 300px;" id="@Model.Id" class="editor">@Model.Value</textarea>
        </lc-control>
    </labeled-control>
    <labeled-control>
        <lc-label>Preview</lc-label>
        <lc-control>
            <div style="height: 300px;" id="@Model.Id-preview" class="preview">
            </div>
        </lc-control>
    </labeled-control>
</div>

<script>
    updatePreview("@Model.Id-preview", document.getElementById("@Model.Id").value);
    synchronizeScroll("@Model.Id", "@Model.Id-preview");
</script>