@using ItMe.Utils
@inject AuthManager AuthManager
@inject GlobalsManager GlobalsManager

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>@ViewData["Title"] - @(GlobalsManager.Person?.Name ?? "Admin")</title>

        <environment include="Development">
            <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css"/>
            <link rel="stylesheet" href="~/css/site.css"/>
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
        </environment>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width">
        <title>It Me!</title>
        <base href="/"/>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
        <link href="css/font-awesome/all.css" rel="stylesheet">
        
        <script src="~/js/lib/commonmark.min.js"></script>
        <environment include="Development">
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>
        
        <link href="~/js/lib/styles/a11y-light.min.css" rel="stylesheet">
        <script src="~/js/lib/highlight.min.js"></script>
        <script>window.hljs.initHighlightingOnLoad();</script>
        
        @RenderSection("Scripts", required: false)
    </head>
    <body>
        <div class="page-title">@(GlobalsManager.Person?.Name ?? "Admin")</div>
    
        <div class="container body-content">
            @RenderBody()
            <hr style="margin-top: 100px;" />
            <footer>
                <div>
                    <p>&copy; 2018 - @(GlobalsManager.Person?.Name ?? "Kirk Woll")</p>
                    <p>
                        @if (!AuthManager.IsLoggedIn)
                        {
                            <a href="Login">Log In</a>

                            if (GlobalsManager.Person == null)
                            {
                                <text> or </text><a href="Register">Register</a>
                            }
                        }
                        else
                        {
                            <a href="Logout">Log Out</a>
                        }
                    </p>
                </div>
                
                <div class="tab-bar">
                    <div><a href="/">Blog</a></div>
                    <div><a href="/cv">CV</a></div>
                </div>


            </footer>
        </div>
    </body>
</html>