@using ItMe.Utils
@model ItMe.ViewModels.BlogViewComponentModel
@inject AuthManager AuthManager

<div class="card-container">
    @if (AuthManager.IsLoggedIn)
    {
        <a href="/blog/new/edit" class="card add">
            <i class="fas fa-plus"></i>
        </a>
    }

    @foreach (var blogPost in Model.BlogPosts)
    {
        <a class="card" href="@($"/blog/{blogPost.Slug}")">
            <div class="date">@blogPost.Created.ToString("MMM dd")</div>
            <div class="title">@blogPost.Title</div>
            <hr>
            <div class="body @(blogPost.Excerpt == null ? "body-full" : "")">@blogPost.GetExcerpt()</div>
        </a>
    }
</div>
