@page "/blog/{slug}"
@using ItMe.Utils
@model BlogPostModel
@inject AuthManager AuthManager
@{
    ViewData["Title"] = @Model.BlogPost.Title;
    ViewData["OpenGraph"] = new OpenGraphInfo
    {
        Title = Model.BlogPost.Title,
        Description = Model.BlogPost.GetExcerpt().StripHtml()
    };
}

<div class="blog-post">
    @if (AuthManager.IsLoggedIn)
    {
        <div class="toolbar">
            <a href="/blog/@Model.BlogPost.Slug/edit"><i class="fas fa-edit"></i></a>
        </div>
    }

    <div class="date">@Model.BlogPost.Created.ToString("MMM dd")</div>

    <div class="title">@Model.BlogPost.Title</div>

    <hr />

    <div class="body">
        @Model.BlogPost.Body.ToMarkDown()
    </div>

    <div class="share-bar">
        <a href="https://twitter.com/intent/tweet?text=@Model.BlogPost.Title&url=https://kirkwoll.com/blog/@Model.BlogPost.Slug"><i class="fab fa-twitter"></i></a>
        <a href="javascript:void(0);" onclick="toggleComments();">
            <i class="far fa-comment"></i>
            @if (Model.BlogPost.CommentCount > 0)
            {
                <text>(@Model.BlogPost.CommentCount)</text>
            }
        </a>
    </div>

    <div class="blog-comments">
        <h4><i class="fas fa-quote-right"></i></h4>

        <div class="blog-comment">
            <form method="POST" class="full-width">
                <labeled-control>
                    <lc-label>Name</lc-label>
                    <lc-control><input type="text" asp-for="CommentName" required /></lc-control>
                </labeled-control>
                <editor asp-for="CommentBody" label="Comment" required></editor>

                <div class="g-recaptcha" data-sitekey="6LdSzH4UAAAAAClLBmA0Ayth3sf2-uDS9RzWCE3E"></div>

                <div class="button-bar">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>

        @foreach (var comment in Model.Comments)
        {
            <div class="blog-comment">
                <div class="author">
                    <i class="fas fa-quote-right"></i>
                    @comment.AuthorName
                </div>
                <div class="body">@comment.Body.ToMarkDown()</div>
            </div>
        }
    </div>
</div>

<script>
    function toggleComments() {
        let element = document.querySelector(".blog-comments");
        element.style.display = element.style.display === "block" ? "" : "block";
    }
</script>