@page "/cv"
@using ItMe.Utils
@model ItMe.Pages.CvModel
@inject AuthManager AuthManager

@{
    ViewData["Title"] = "CV";
}

<div class="cv">
    <div class="cv-column">
        @if (Model.Cv.Blurb != null || AuthManager.IsLoggedIn)
        {
            <div class="section">
                @if (Model.Cv.Blurb != null && AuthManager.IsLoggedIn)
                {
                    <div class="title-bar">
                        <div class="title">About Me</div>

                        <a class="button soft-icon" href="/cv/edit"><i class="fas fa-edit"></i></a>
                    </div>
                }
                <div>@Model.Cv.Blurb</div>
                
                @if (Model.Cv.Blurb == null)
                {
                    <a href="/cv/edit" class="card add">
                        <i class="fas fa-plus"></i>
                    </a>
                }
            </div>
        }
        <div class="section">
            <div class="title">Employment History</div>
        
            <hr />

            @foreach (var job in Model.Cv.Jobs)
            {
                <div class="section-item">
                    <div class="title-bar">
                        <div class="company">
                            @job.Company
                        </div>
                        @if (AuthManager.IsLoggedIn)
                        {
                            <a class="button soft-icon" href="/cv/jobs/@job.Id"><i class="fas fa-edit"></i></a>
                        }
                    </div>
                    @foreach (var role in job.Roles)
                    {
                        <div class="title">
                            @role.Title
                        </div>
                        if (!role.Start.IsEmpty)
                        {
                            <div class="stint">
                                @role.Start - @(role.End.IsEmpty ? "Present" : role.End.ToString())
                            </div>
                        }
                        <div class="description">
                            @role.Description.ToMarkDown()
                        </div>
                    }
                </div>
            }

            <div class="card-container">
                @if (AuthManager.IsLoggedIn)
                {
                    <a href="/cv/jobs/new" class="card add">
                        <i class="fas fa-plus"></i>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="cv-column side">
        <div class="section">
            <div class="title">Profiles</div>
            <hr />
        
            <ul>
                @foreach (var profile in Model.Cv.Profiles)
                {
                    <li>
                        <a href="@profile.Uri">@profile.Name</a>
                        @if (AuthManager.IsLoggedIn)
                        {
                            <a href="/cv/profiles/@profile.Id/edit" class="edit soft-icon">
                                <i class="fas fa-edit"></i>
                            </a>
                        }
                    </li>
                }
            </ul>

            <div class="card-container">
                @if (AuthManager.IsLoggedIn)
                {
                    <a href="/cv/profiles/edit" class="card add">
                        <i class="fas fa-plus"></i>
                    </a>
                }
            </div>
        </div>
        
        @if (Model.Cv.Languages.Any() || AuthManager.IsLoggedIn)
        {
            <div class="section">
                <div class="title">Languages</div>
                <hr />
        
                <ul>
                    @foreach (var language in Model.Cv.Languages)
                    {
                        <li>
                            @language.Name
                            @if (AuthManager.IsLoggedIn)
                            {
                                <a href="/cv/languages/@language.Id/edit" class="edit soft-icon">
                                    <i class="fas fa-edit"></i>
                                </a>
                            }
                        </li>
                    }
                </ul>

                @if (AuthManager.IsLoggedIn)
                {
                    <div class="card-container">
                        <a href="/cv/languages/edit" class="card add">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                }
            </div>
        }
        
        @if (Model.Cv.Skills.Any() || AuthManager.IsLoggedIn)
        {
            <div class="section">
                <div class="title">Skills</div>
                <hr />
        
                <ul>
                    @foreach (var skill in Model.Cv.Skills)
                    {
                        <li>
                            <div class="heading">@skill.Name</div>
                            @if (AuthManager.IsLoggedIn)
                            {
                                <a href="/cv/skills/@skill.Id/edit" class="edit soft-icon">
                                    <i class="fas fa-edit"></i>
                                </a>
                            }
                            @skill.Description.ToMarkDown()
                        </li>
                    }
                </ul>

                @if (AuthManager.IsLoggedIn)
                {
                    <div class="card-container">
                        <a href="/cv/skills/new/edit" class="card add">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                }
            </div>
        }
    </div>
</div>

