@using ItMe.Client.Utils
@using ItMe.Shared.Requests
@using Microsoft.AspNetCore.Blazor.Services
@page "/register"
@inject HttpClient Http
@inject TokenManager TokenManager;
@inject IUriHelper UriHelper

<h1>Login</h1>

<form onsubmit="@RegisterPerson">
    <LabeledControl>
        <Label>Email:</Label>
        <Control><input type="email" bind="@email" name="email"/></Control>
    </LabeledControl>
    <LabeledControl>
        <Label>Name:</Label>
        <Control><input type="text" bind="@name" name="text"/></Control>
    </LabeledControl>
    <LabeledControl>
        <Label>Password:</Label>
        <Control><input type="password" bind="@password" name="password"/></Control>
    </LabeledControl>
    <LabeledControl>
        <Label>Host:</Label>
        <Control><input type="text" bind="@host" name="host"/></Control>
    </LabeledControl>
    <LabeledControl>
        <Label>Port:</Label>
        <Control><input type="number" bind="@port" name="port"/></Control>
    </LabeledControl>
    <input type="submit" value="Register" />
</form>

@functions {
    private string email;
    private string name;
    private string password;
    private string host;
    private int port;

    private async Task RegisterPerson()
    {
        var token = await Http.PostJsonAsync<string>("api/auth/register", new PostPerson
        {
            Name = name,
            Email = email,
            Password = password,
            Host = host,
            Port = port
        });
        TokenManager.ProcessLogin(token);

        await Interop.SetWindowLocation($"https://{host}:{port}");
    }
}
